# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/
venv/
ENV/
env/

# Django stuff
*.log
staticfiles/
media/
db.sqlite3

# Unit test / coverage reports
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# MyPy / Pyre
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/

# IDEs and editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment
.env
*.env

# Docker
.docker/
*.pid


